torch>=2.0.0
transformers
datasets
scikit-learn
numpy
accelerate
spacy>=3.4.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz
